# IDIAN CARS UNDER 20 LAKHS

### **DESAFIOS:**

### Leitura dos Dados:

- Importe a biblioteca Pandas.
- Carregue os dados da planilha "Indian Cars Under 20 Lakhs" em um DataFrame.

### Exploração Inicial:

- Exiba as primeiras 5 linhas do DataFrame.
- Verifique o resumo estatístico das colunas numéricas.

### Manipulação de Dados:

- Crie uma nova coluna chamada "Price_in_Millions" que converta os preços para milhões de rúpias.
- Ordene o DataFrame com base na coluna "Price_in_Millions" em ordem decrescente.

### Filtragem e Seleção:

- Selecione carros com "Seating.Capacity" maior que 5.
- Filtrar carros com "Fuel.Type" igual a "Diesel" e "Transmission" igual a "Automatic".

### Agregação de Dados:

- Calcule a média da "Mileage" para cada valor único em "Seating.Capacity".
- Encontre o carro mais caro em cada tipo de "Fuel.Type".

### Visualização de Dados:

- Crie um gráfico de barras para mostrar a contagem de carros para cada valor único em "Seating.Capacity".
- Faça um gráfico de dispersão para mostrar a relação entre "Engine" e "Price_in_Millions".

### Manipulação de Strings:

- Extraia a marca do carro da coluna "Name" e crie uma nova coluna chamada "Brand".
- Converta a coluna "Brand" para maiúsculas.

- **LEITURA DE DADOS**

In [88]:
import pandas as pd
carinindia = pd.read_csv('carinindia.csv')
dados = pd.read_csv('data.csv')

- **EXPLORAÇÃO INICIAL**

In [89]:
dados.head(10)

,Name,Price,Mileage,Engine,Safety,Fuel.Type,Transmission,Seating.Capacity
0,Maruti Alto K10,Rs. 3.99 - 5.96 Lakh,24.39 to 33.85 kmpl,998 cc,2 Star (Global NCAP),Petrol & CNG,Manual & Automatic,5 Seater
1,Maruti S-Presso,Rs. 4.26 - 6.11 Lakh,24.44 to 32.73 kmpl,998 cc,0 Star (Global NCAP),Petrol & CNG,Manual & Automatic,4 & 5 Seater
2,Renault Kwid,Rs. 4.70 - 6.45 Lakh,21.7 to 22 kmpl,999 cc,1 Star (Global NCAP),Petrol,Manual & Automatic,5 Seater
3,Maruti Ignis,Rs. 5.84 - 8.30 Lakh,20.89 kmpl,1197 cc,NaN,Petrol,Manual & Automatic,5 Seater
4,Maruti Eeco,Rs. 5.32 - 6.58 Lakh,NaN,1197 cc,NaN,Petrol & CNG,Manual,5 & 7 Seater
5,Renault Kiger,Rs. 6.00 - 11.23 Lakh,NaN,NaN,NaN,NaN,NaN,NaN
6,Maruti Celerio,Rs. 5.36 - 7.10 Lakh,NaN,NaN,NaN,NaN,NaN,NaN
7,Citroen C3,Rs. 6.16 - 9.08 Lakh,19.3 kmpl,1198 to 1199 cc,NaN,Petrol,Manual,5 Seater
8,Renault Triber,Rs. 6.00 - 8.98 Lakh,18.2 to 19 kmpl,999 cc,4 Star (Global NCAP),Petrol,Manual & Automatic,7 Seater
9,Maruti Brezza,Rs. 8.34 - 14.14 Lakh,19.05 to 25.51 kmpl,1462 cc,NaN,Petrol & CNG,Manual & Automatic,5 Seater

- **MANIPULAÇÃO DE DADOS**

In [90]:
coletardados_prices = [x for x in dados["Price"]]

In [91]:
dados.shape

(49, 8)

In [92]:
media_dos_preços = []
cont = 0 
for y in range(len(coletardados_prices)):
    cont += 1
    mani = coletardados_prices[y].replace('Rs.','',).replace('Lakh','').strip()
    mani = mani.split(' - ')
    media_dos_preços.append(mani)
print(media_dos_preços)

[['3.99', '5.96'], ['4.26', '6.11'], ['4.70', '6.45'], ['5.84', '8.30'], ['5.32', '6.58'], ['6.00', '11.23'], ['5.36', '7.10'], ['6.16', '9.08'], ['6.00', '8.98'], ['8.34', '14.14'], ['8.10', '15.50'], ['13.83', '15.23'], ['12.49', '13.75'], ['14.39', '16.80'], ['11.61', '13.50'], ['12.08', '13.90'], ['11.70', '21.10'], ['11.56', '14.82'], ['11.74', '16.22'], ['11.53', '19.12'], ['14.74', '19.94'], ['10.74', '15.05'], ['11.89', '20.49'], ['10.45', '19.45'], ['11.56', '19.41'], ['11.68', '16.50'], ['10.29', '13.68'], ['11.00', '17.42'], ['15.00', '22.20'], ['11.14', '20.19'], ['10.90', '20.30'], ['13.59', '17.35'], ['10.70', '19.92'], ['11.25', '17.20'], ['13.99', '26.99'], ['13.60', '24.54'], ['10.99', '15.49'], ['11.00', '20.15'], ['18.93', '20.43'], ['15.10'], ['19.50', '27.00'], ['16.77', '21.28'], ['17.80', '22.98'], ['20.69', '32.27'], ['15.49', '19.19'], ['19.77', '30.68'], ['16.19', '27.34'], ['19.99', '18.65'], ['15.49', '26.44']]

In [93]:
extrair_media = []
cont = 0
for x in range(len(media_dos_preços)):
    cont += 1
    if media_dos_preços[x] == 2:
        media = (float(media_dos_preços[x][0]) + float(media_dos_preços[x][1]))
    else:
        media = (float(media_dos_preços[x][0]))
    media = round(media * 1000000)
    extrair_media.append(media)

- **FILTRAGEM E SELEÇÃO**

In [94]:
dados = dados.fillna(0)

In [95]:
filtrar = dados['Seating.Capacity']

In [96]:
filtrar.head()

0        5 Seater
1    4 & 5 Seater
2        5 Seater
3        5 Seater
4    5 & 7 Seater
Name: Seating.Capacity, dtype: object

In [97]:
extrair_numero = [str(filtrar[x]).replace('Seater', ' ').replace(',', ' &') for x in range(len(filtrar))]
extrair_numero_1 = []
for e in range(len(extrair_numero)):
    manipu_la = extrair_numero[e].strip().split('&')
    extrair_numero_1.append(manipu_la)

In [98]:
extrair_numero_2 = []
for i in range(len(extrair_numero_1)):
    if len(extrair_numero_1[i]) == 3:
        media = round(int(extrair_numero_1[i][0]) + int(extrair_numero_1[i][1]) + int(extrair_numero_1[i][2])/3)
        extrair_numero_2.append(media)
    elif len(extrair_numero_1[i]) == 2:
        media = round(int(extrair_numero_1[i][0]) + int(extrair_numero_1[i][1])/2)
        extrair_numero_2.append(media)
    else:
        media = round(int(extrair_numero_1[i][0]))
        extrair_numero_2.append(media)

In [99]:
dados['Capacidade'] = pd.Series(extrair_numero_2)

In [100]:
filtroeselecao_df = dados.query('Capacidade > 5')

In [101]:
dados.columns = ['Nome', 'Preço', 'Quilometragem', 'Motor', 'Segurança', 'Tipo_de_Combustível', 'Transmissão', 'Capacidade de Assentos', 'Capacidade']

In [102]:
Eletric_dieseldf = dados.query('Tipo_de_Combustível == "Electric" | Tipo_de_Combustível == "Diesel" ')

- **AGREGAÇÃO DE DADOS**

In [103]:
manipulação_quilometragem = [ x for x in dados["Quilometragem"]]
manipulação_quilometragem_1 = [str(manipulação_quilometragem[r]).replace('kmpl', '') for r in range(len(manipulação_quilometragem))]
manipulação_quilometragem_2 = [str(manipulação_quilometragem_1[r]).split('to') for r in range(len(manipulação_quilometragem_1))]
manipulação_quilometragem_3 = [((float(manipulação_quilometragem_2[r][0]) + float(manipulação_quilometragem_2[r][1])) / 2) if len(manipulação_quilometragem_2[r]) == 2 else float(manipulação_quilometragem_2[r][0]) for r in range(len(manipulação_quilometragem_1))]
manipulação_quilometragem_4 = [round(manipulação_quilometragem_3[x],2) for x in range(len(manipulação_quilometragem_3))]

In [104]:
dados["Quilometragem_Media"] = pd.Series(manipulação_quilometragem_4)

In [105]:
dados["Preços_em_milhoes"] = pd.Series(extrair_media)
dados = dados.sort_values("Preços_em_milhoes")
dados.head()

,Nome,Preço,Quilometragem,Motor,Segurança,Tipo_de_Combustível,Transmissão,Capacidade de Assentos,Capacidade,Quilometragem_Media,Preços_em_milhoes
0,Maruti Alto K10,Rs. 3.99 - 5.96 Lakh,24.39 to 33.85 kmpl,998 cc,2 Star (Global NCAP),Petrol & CNG,Manual & Automatic,5 Seater,5,29.12,3990000
1,Maruti S-Presso,Rs. 4.26 - 6.11 Lakh,24.44 to 32.73 kmpl,998 cc,0 Star (Global NCAP),Petrol & CNG,Manual & Automatic,4 & 5 Seater,6,28.59,4260000
2,Renault Kwid,Rs. 4.70 - 6.45 Lakh,21.7 to 22 kmpl,999 cc,1 Star (Global NCAP),Petrol,Manual & Automatic,5 Seater,5,21.85,4700000
4,Maruti Eeco,Rs. 5.32 - 6.58 Lakh,0,1197 cc,0,Petrol & CNG,Manual,5 & 7 Seater,8,0.00,5320000
6,Maruti Celerio,Rs. 5.36 - 7.10 Lakh,0,0,0,0,0,0,0,0.00,5360000

In [106]:
dados["Tipo_de_Combustível"].unique()

array(['Petrol & CNG', 'Petrol', 0, 'Petrol & Diesel', 'Hybrid & CNG',
       'Electric', 'Diesel', 'Hybrid', 'Petrol & Hybrid'], dtype=object)

In [107]:
agregar_todos_maximo = []
todas_colunas = ['Petrol & CNG', 'Petrol', 0, 'Petrol & Diesel', 'Hybrid & CNG','Electric', 'Diesel', 'Hybrid', 'Petrol & Hybrid']
for x in todas_colunas:
    achar_max = dados.query("Tipo_de_Combustível == @x")
    achar_max_1 = achar_max["Preços_em_milhoes"].max()
    achar_max_2 = dados.query('Preços_em_milhoes == @achar_max_1')
    agregar_todos_maximo.append(achar_max_2)
carros_combutiveis_max_df = pd.concat(agregar_todos_maximo, ignore_index=True)

- **MANIPULAÇÃO DE STRINGS**
(extrair o nome das marcas)

In [116]:
nomes = dados["Nome"]
manipulação_de_strings = [nomes[m] for m in range(len(nomes))]

In [131]:
marca = []
for i in range(len(manipulação_de_strings)):
    mani_str = manipulação_de_strings[i].split(' ')
    mani_str = mani_str[0].upper()
    marca.append(mani_str)

In [132]:
dados["Marca"] = pd.Series(marca)

In [133]:
dados

,Nome,Preço,Quilometragem,Motor,Segurança,Tipo_de_Combustível,Transmissão,Capacidade de Assentos,Capacidade,Quilometragem_Media,Preços_em_milhoes,Marca
0,Maruti Alto K10,Rs. 3.99 - 5.96 Lakh,24.39 to 33.85 kmpl,998 cc,2 Star (Global NCAP),Petrol & CNG,Manual & Automatic,5 Seater,5,29.12,3990000,MARUTI
1,Maruti S-Presso,Rs. 4.26 - 6.11 Lakh,24.44 to 32.73 kmpl,998 cc,0 Star (Global NCAP),Petrol & CNG,Manual & Automatic,4 & 5 Seater,6,28.59,4260000,MARUTI
2,Renault Kwid,Rs. 4.70 - 6.45 Lakh,21.7 to 22 kmpl,999 cc,1 Star (Global NCAP),Petrol,Manual & Automatic,5 Seater,5,21.85,4700000,RENAULT
4,Maruti Eeco,Rs. 5.32 - 6.58 Lakh,0,1197 cc,0,Petrol & CNG,Manual,5 & 7 Seater,8,0.00,5320000,MARUTI
6,Maruti Celerio,Rs. 5.36 - 7.10 Lakh,0,0,0,0,0,0,0,0.00,5360000,MARUTI
3,Maruti Ignis,Rs. 5.84 - 8.30 Lakh,20.89 kmpl,1197 cc,0,Petrol,Manual & Automatic,5 Seater,5,20.89,5840000,MARUTI
5,Renault Kiger,Rs. 6.00 - 11.23 Lakh,0,0,0,0,0,0,0,0.00,6000000,RENAULT
8,Renault Triber,Rs. 6.00 - 8.98 Lakh,18.2 to 19 kmpl,999 cc,4 Star (Global NCAP),Petrol,Manual & Automatic,7 Seater,7,18.60,6000000,RENAULT
7,Citroen C3,Rs. 6.16 - 9.08 Lakh,19.3 kmpl,1198 to 1199 cc,0,Petrol,Manual,5 Seater,5,19.30,6160000,CITROEN
10,Tata Nexon,Rs. 8.10 - 15.50 Lakh,17.01 to 24.08 kmpl,1199 to 1497 cc,5 Star (Global NCAP),Petrol & Diesel,Manual & Automatic,5 Seater,5,20.55,8100000,TATA
9,Maruti Brezza,Rs. 8.34 - 14.14 Lakh,19.05 to 25.51 kmpl,1462 cc,0,Petrol & CNG,Manual & Automatic,5 Seater,5,22.28,8340000,MARUTI
26,Toyota Rumion,Rs. 10.29 - 13.68 Lakh,20.11 to 26.11 kmpl,1462 cc,0,Petrol & CNG,Manual & Automatic,7 Seater,7,23.11,10290000,TOYOTA
23,Kia Carens,Rs. 10.45 - 19.45 Lakh,0,1482 to 1497 cc,3 Star (Global NCAP),Petrol & Diesel,"Manual, Clutchless Manual (IMT) & Automatic",6 & 7 Seater,10,0.00,10450000,KIA
32,Maruti Grand Vitara,Rs. 10.70 - 19.92 Lakh,20.58 to 27.97 kmpl,1462 to 1490 cc,0,Hybrid & CNG,Manual & Automatic,5 Seater,5,24.27,10700000,MARUTI
21,Maruti Jimny,Rs. 10.74 - 15.05 Lakh,16.39 to 16.94 kmpl,1462 cc,0,Petrol,Manual & Automatic,4 Seater,4,16.66,10740000,MARUTI
30,Kia Seltos,Rs. 10.90 - 20.30 Lakh,0,0,0,0,0,0,0,0.00,10900000,KIA
36,Tata Punch EV,Rs. 10.99 - 15.49 Lakh,0,0,0,Electric,Automatic,5 Seater,5,0.00,10990000,TATA
37,Hyundai Creta,Rs. 11.00 - 20.15 Lakh,0,1482 to 1497 cc,0,Petrol & Diesel,Manual & Automatic,5 Seater,5,0.00,11000000,HYUNDAI
27,Hyundai Verna,Rs. 11.00 - 17.42 Lakh,18.6 to 20.6 kmpl,1482 to 1497 cc,5 Star (Global NCAP),Petrol,Manual & Automatic,5 Seater,5,19.60,11000000,HYUNDAI
29,Toyota Urban Cruiser Hyryder,Rs. 11.14 - 20.19 Lakh,20.58 to 27.97 kmpl,1462 to 1490 cc,0,Hybrid & CNG,Manual & Automatic,5 Seater,5,24.27,11140000,TOYOTA
33,Mahindra Thar,Rs. 11.25 - 17.20 Lakh,0,0,0,0,0,0,0,0.00,11250000,MAHINDRA
19,Skoda Slavia,Rs. 11.53 - 19.12 Lakh,18.73 to 20.32 kmpl,999 to 1498 cc,5 Star (Global NCAP),Petrol,Manual & Automatic,5 Seater,5,19.52,11530000,SKODA
24,Volkswagen Virtus,Rs. 11.56 - 19.41 Lakh,18.45 to 20.66 kmpl,999 to 1498 cc,5 Star (Global NCAP),Petrol,Manual & Automatic,5 Seater,5,19.55,11560000,VOLKSWAGEN
17,Maruti XL6,Rs. 11.56 - 14.82 Lakh,0,0,0,0,0,0,0,0.00,11560000,MARUTI
14,Citroen eC3,Rs. 11.61 - 13.50 Lakh,0,0,0,Electric,Automatic,5 Seater,5,0.00,11610000,CITROEN
25,Honda Elevate,Rs. 11.68 - 16.50 Lakh,15.31 to 16.92 kmpl,1498 cc,0,Petrol,Manual & Automatic,5 Seater,5,16.12,11680000,HONDA
16,Volkswagen Taigun,Rs. 11.70 - 21.10 Lakh,18.15 to 19.87 kmpl,999 to 1498 cc,5 Star (Global NCAP),Petrol,Manual & Automatic,5 Seater,5,19.01,11700000,VOLKSWAGEN
18,Honda City,Rs. 11.74 - 16.22 Lakh,0,0,0,0,0,0,0,0.00,11740000,HONDA
22,Skoda Kushaq,Rs. 11.89 - 20.49 Lakh,0,0,0,0,0,0,0,0.00,11890000,SKODA
15,Hyundai Venue N Line,Rs. 12.08 - 13.90 Lakh,0,998 cc,0,Petrol,Manual & Automatic,5 Seater,5,0.00,12080000,HYUNDAI
12,Tata Tigor EV,Rs. 12.49 - 13.75 Lakh,0,0,4 Star (Global NCAP),Electric,Automatic,5 Seater,5,0.00,12490000,TATA
31,Mahindra Scorpio,Rs. 13.59 - 17.35 Lakh,0,2184 cc,0,Diesel,Manual,7 & 9 Seater,12,0.00,13590000,MAHINDRA
35,Mahindra Scorpio N,Rs. 13.60 - 24.54 Lakh,0,1997 to 2184 cc,5 Star (Global NCAP),Petrol & Diesel,Manual & Automatic,6 & 7 Seater,10,0.00,13600000,MAHINDRA
11,Force Motors Trax Cruiser,Rs. 13.83 - 15.23 Lakh,0,2596 cc,0,Diesel,Manual,10 & 13 Seater,16,0.00,13830000,FORCE
34,Mahindra XUV700,Rs. 13.99 - 26.99 Lakh,0,1997 to 2184 cc,5 Star (Global NCAP),Petrol & Diesel,Manual & Automatic,"5, 6 & 7 Seater",13,0.00,13990000,MAHINDRA
13,Mahindra Marazzo,Rs. 14.39 - 16.80 Lakh,0,1497 cc,4 Star (Global NCAP),Diesel,Manual,7 & 8 Seater,11,0.00,14390000,MAHINDRA
20,Tata Nexon EV,Rs. 14.74 - 19.94 Lakh,0,0,0,Electric,Automatic,5 Seater,5,0.00,14740000,TATA
28,MG Hector,Rs. 15.00 - 22.20 Lakh,0,1451 to 1956 cc,0,Petrol & Diesel,Manual & Automatic,5 Seater,5,0.00,15000000,MG
39,Force Motors Gurkha,Rs. 15.10 Lakh,0,2596 cc,0,Diesel,Manual,4 Seater,4,0.00,15100000,FORCE
44,Mahindra XUV400,Rs. 15.49 - 19.19 Lakh,0,0,0,Electric,Automatic,5 Seater,5,0.00,15490000,MAHINDRA
48,Tata Harrier,Rs. 15.49 - 26.44 Lakh,14.6 to 16.8 kmpl,1956 cc,5 Star (Bharat NCAP),Diesel,Manual & Automatic,5 Seater,5,15.70,15490000,TATA
46,Tata Safari,Rs. 16.19 - 27.34 Lakh,14.5 to 16.3 kmpl,1956 cc,5 Star (Bharat NCAP),Diesel,Manual & Automatic,6 & 7 Seater,10,15.40,16190000,TATA
41,Hyundai Alcazar,Rs. 16.77 - 21.28 Lakh,18.1 to 20.4 kmpl,1482 to 1493 cc,0,Petrol & Diesel,Manual & Automatic,6 & 7 Seater,10,19.25,16770000,HYUNDAI
42,MG Hector Plus,Rs. 17.80 - 22.98 Lakh,0,1451 to 1956 cc,0,Petrol & Diesel,Manual & Automatic,6 & 7 Seater,10,0.00,17800000,MG
38,Honda City Hybrid eHEV,Rs. 18.93 - 20.43 Lakh,27.1 kmpl,1498 cc,0,Hybrid,Automatic,5 Seater,5,27.10,18930000,HONDA
40,Isuzu D-Max,Rs. 19.50 - 27.00 Lakh,0,1898 cc,5 Star (ASEAN NCAP),Diesel,Manual & Automatic,5 Seater,5,0.00,19500000,ISUZU
45,Toyota Innova Hycross,Rs. 19.77 - 30.68 Lakh,16.13 to 23.24 kmpl,1987 cc,0,Petrol & Hybrid,Automatic,7 & 8 Seater,11,19.68,19770000,TOYOTA
47,Toyota Innova Crysta,Rs. 19.99 - 18.65 Lakh,0,2393 cc,5 Star (ASEAN NCAP),Diesel,Manual,7 & 8 Seater,11,0.00,19990000,TOYOTA
43,Jeep Compass,Rs. 20.69 - 32.27 Lakh,16.2 to 17.1 kmpl,1956 cc,5 Star (Euro NCAP),Diesel,Manual & Automatic,5 Seater,5,16.65,20690000,JEEP